*
!/.gitignore
!/.prettierignore
!/.prettierrc.json
!/.dev.vars.example
!/LICENSE
!/README.md
!/package.json
!/pnpm-lock.yaml
!/tsconfig.json
!/vitest.config.ts
!/eslint.config.js
!/wrangler.jsonc
!/src/
!/src/**
!/test/
!/test/**
!/.github/
!/.github/**
